<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  th:object="${cart}" method="post">
    <h3>Total Items: <span th:text="${cart.countItemQuantity()}"></span> </h3>
    <h3>Total Products: <span th:text="${cart.countProductQuantity()}"></span></h3>
    <table>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>

        <tr th:each="product: ${cart.products}">
           <td th:text="${product.getKey().name}"></td>
<!--            <a th:href="${}"></a>-->
           <td th:text="${product.getValue()}"></td>
           <td th:text="${product.getKey().price}"></td>
        </tr>

        <tr>
            <td>Total</td>
            <td></td>
            <td th:text="${cart.countTotalPayment()}"></td>
        </tr>
    </table>
</form>

</body>
</html>